<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      
        <!-- FontAwesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="/site.css">
    </head>
    <body>
        <div id="header" class="container-fluid text-center" style="padding-top: 65px">
            <h1>{{{search_engine_name}}}</h1>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/search">Text</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/images">Image</a>
                </li>
            </ul>
        </div>
        <!-- Search box -->
        {{{search_box}}}
    </body>
</html>
