<form class="md-form searchbox" action="/images" method="post" enctype="multipart/form-data">
    <input type="file" class="upload-input" id="input-image" name="image" accept="image/*" style="border: 1px dashed #999; margin: auto; width: 100%;" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
