<form class="md-form searchbox" action="/search" method="post" novalidate >
    <input name="text" type="text" class="form-control" placeholder="Search" aria-label="Search">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

